.techSkill{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cont{
position: relative;
width: 1100px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 30px;
}

.cont .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background:black;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.cont .card:hover{
    height: 300px;

}

.cont .card .imgBx{
    position: relative;
    width: 260px;
    height:260px;
    top: -60px;
    left: 70px;
    z-index: 1;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.2); */
}
.cont .card .imgBx img{
max-width: 100%;
border-radius: 8px;
}

.cont .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:wheat;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.cont .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -80px;
    transition-delay: 0.3s;
}