<div class="card-deck" *ngFor="let p of list">
    <div class="card bg-primary">
        <div class="card-body text-center">
            <h4 class="card-title"><u>Name</u></h4>
            <p class="card-text"><b>{{p.name}}</b></p>
        </div>
    </div>
    <div class="card bg-danger">
        <div class="card-body text-center">
            <h4 class="card-title"><u>Contact Number</u></h4>
            <p class="card-text"><b>{{p.phoneNumber}}</b></p>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <h4 class="card-title"><u>Email Id</u></h4>
            <p class="card-text"><b>{{p.emailId}}</b></p>
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body text-center">
            <h4 class="card-title"><u>LinkedIn</u></h4>
            <p class="card-text"><b><a href="{{p.linkedIn}}" style="color: black;">Click here to check my LinkedIn Profile</a></b></p>
        </div>
    </div>
    <div class="card bg-primary">
        <div class="card-body text-center">
            <h4 class="card-title"><u>Github</u></h4>
            <p class="card-text"><b><a href="{{p.git}}" style="color: black;">Click here to check my Github</a></b></p>
        </div>
    </div> 
</div>
